<div class="card" style="width: 55rem">
  <div class="row">
    <div class="col-md-7">
      <img
        class="card-img-top"
        src="https://i.imgur.com/0YnHZjz.jpg"
        alt="Card image cap"
      />
    </div>

    <div class="col p-1 parr" >
      <div class="card-body">
        <p class="card-text">
          App que consume 2 apis, una publica para obtener los datos actualizados y una api privada realizada por mi persona para guardar ligas, equipos, jugadores favoritos, ademas de contar con login con auth0, proteccion de rutas, interceptores y lazy loading.
        </p>
        <a
          target="_blank"
          href="https://futbol-app-yoheskyjpp.vercel.app/"
          class="btn btn-outline-primary btn-block">Ver</a>
      </div>
    </div>
  </div>
</div>

<div class="card mt-2" style="width: 55rem">
  <div class="row">
    <div class="col-md-7">
      <img
        class="card-img-top"
        src="https://i.imgur.com/LuCuTwF.png"
        alt="Card image cap"
      />
    </div>

    <div class="col parr" >
      <div class="card-body">
        <p class="card-text">
          Aplicación de tareas con stack MERN, se crean proyectos y a cada proyecto se le puede ir agregando sus propias tareas, con posibilidad de eliminar, editar, crear tarea o marcar como incompleta o completa.
          Ademas de proteccion de rutas, registro y login.
        </p>
        <a
          target="_blank"
          href="https://naughty-mcclintock-cc7c54.netlify.app/"
          class="btn btn-outline-primary btn-block">Ver</a>
      </div>
    </div>
  </div>
</div>

<div class="card mt-2 mb-4" style="width: 55rem">
  <div class="row">
    <div class="col-md-7">
      <img
        class="card-img-top"
        src="https://i.imgur.com/ktZj4TJ.jpg"
        alt="Card image cap"
      />
    </div>

    <div class="col  p-1 parr" >
      <div class="card-body">
        <p class="card-text">
          Sencilla pagina web full page con un estilo diferente llevada a cabo con las tecnologias HTML, CSS, Javascript y Bootstrap como framework css.
        </p>
        <a
        target="_blank"
        href="http://yohesky.epizy.com/fullpage/index.html"
        class="btn btn-outline-primary btn-block">Ver</a>


      </div>
    </div>
  </div>
</div>
